html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-button-toggle-group {
  width: 100%;

  mat-button-toggle {
    width: 100%;
  }
}

mat-form-field {
  width: 100%;
}

mat-form-field.mat-form-field-disabled {
  background-color: #e4e4e7;
  color: white;
}

.mat-mdc-dialog-container .mat-mdc-dialog-title + .mat-mdc-dialog-content {
  padding: 8px 32px !important;
}

app-property-card .mat-mdc-card-header-text {
  width: 100%;
}
